* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color:#1f2833 ;
    color: white;
    padding: 20px;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #4CAF50;
}

h2 {
    margin-top: 20px;
    font-size: 1.5em;
    color: white;
}

section {
    margin-bottom: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

table th {
    background-color: #4CAF50;
    color: white;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input {
    padding: 10px;
    font-size: 1em;
    width: 250px;
    margin: 0 auto;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9em;
    color: #777;
}
